html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* ROOT DOIT STRETCH */
#root {
  width: 100%;
  height: 100%;
}

/* IMPORTANT: force fill */
#cy {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  inset: 0;
  border: 2px solid #444;
  background: #0f0f0f;
}
